.wrapper {
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;
}

.center {
    background-color: rgb(220, 220, 220);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    height: 80vh;
}

.TheirInfo h1 {
    background-color: rgb(160, 160, 160);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.username h1 {
    display: table-caption;
}

.TheirInfo {
    display: flex;
    justify-content: space-around;
}

/*  */

.reportButton {
    height: 10vh;
    display: grid;
    grid-template-columns: 0.7fr 0.4fr 0.7fr;
}

.reportContainer {
    background-color: rgb(255, 0, 0);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.4s;
}

.reportContainer:hover {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.reportButton h1 {
    font-size: 30px;
}

/* Posted Cards */

.PostedByThem {
    width: 70vw;
}

.cardscontainer {
    display: flex;
    overflow-x: auto;
}

.Postcard {
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: table-caption;
}
      
.Postcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
      
.PostcardContainer {
    padding: 2px 16px;
}