.BigWrapper {
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;
}

/* Search Page container */

/* .SearchResultContainer{
    background-color: green;
}

.CreatePostButton {
    background-color: blue;
}

.UrgentPostContainer {
    background-color: red;
} */


/* LandingPage */

.LandingPageBigWrapper{
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;
    height: 85vh;
}

.Welcome {
    text-align: center;
}

.FrontPageRightSide {
    background-color: red;
}