.FormContainer h1 {
  display: table;
  margin: 40px auto;
  color: #fff;
  font: 20px Helvetica;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.FormContainer form {
  display: table;
  margin: 40px auto;
}
.FormContainer form label {
  position: relative;
  display: block;
}
.FormContainer form label input {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.FormContainer form label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.FormContainer form label input:focus,
.FormContainer form label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
.FormContainer form label input:focus::placeholder,
.FormContainer form label input.populated::placeholder {
  color: transparent;
}
.FormContainer form label input:focus + span,
.FormContainer form label input.populated + span {
  opacity: 1;
  top: 10px;
}
.FormContainer form label span {
  color: #51d0de;
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.FormContainer form input[type="submit"] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #51d0de;
  color: #fff;
  padding: 16px 40px;
}
.FormContainer form input[type="submit"]:hover {
  background: #bf4aa8;
}

.FormContainer form input[type="description"] {
  height: 200px;
  width: 50vw;
}

.buttonChoice {
  text-align: center;
}

.buttonChoice h1 {
  padding-left: 15px;
  color: #51d0de;
  display: table-caption;
  display: inline-block
}

.buttonChoice hr {
  background-color: #51d0de;
  height: 4px;
  width: 50vw;
}

.loginSelect .login h1 {
  color: #51d0de;
}

.loginSelect .signup h1 {
  color: rgb(150,150,150);
}

.signupSelect .login {
  color: rgb(150,150,150);
}

.signupSelect .signup {
  color: #51d0de;
}