/* Search Bar  */

.NavBar {
    display: table;
    width: 100%;
    position: absolute;
    top: 0px;
}

.company-Logo {
    display: table-cell;
    width: 20%;
    background-color: #bf4aa8;
}


.account-info {
    display: table-cell;
    width: 20%;
    background-color: #bf4aa8;
}

/* Search Bar */

.search-bar {
    display: table-cell;
    width: 60%;
    background-color: white;
    text-align: center;
    position: relative;
}

.SubmitButton {
    background-color: #51d0de;
}

.Form {
    background-color: #bf4aa8;
    width: 60%;
    padding: 1%;
    position: absolute;
    left: 19%;
    top: 75%;
}

input[name=search] {
    width: 60%;
}

/* CreatePostButton */

.cardCreatePostButton {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: #51d0de;
    margin: 1rem auto;
    width: 95%;
  }
  
/* On mouse-over, add a deeper shadow */
.cardCreatePostButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.containerCreatePostButton {
  padding: 2px 16px;
  text-align: center;
}

.containerCreatePostButton h1 {
    font-size: 100px;
}

/* Urgent Card */

.Urgentcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 4%;
    width: 95%;
    margin: 1rem auto;
}
  
.Urgentcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.Urgentcontainer {
    padding: 2px 16px;
}

.urgentimg {
    max-height: 150px;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

/* Account Card */

.AccountCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 4%;
    width: 95%;
    margin: 1rem auto;
}
  
.AccountCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.AccountCardcontainer {
    padding: 2px 16px;
}