.NavBar {
    display: table;
    width: 100%;
    position: absolute;
    top: 0px;
}

.company-Logo {
    display: table-cell;
    width: 20%;
    background-color: #bf4aa8;
}


.account-info {
    display: table-cell;
    width: 20%;
    background-color: #bf4aa8;
}

/* Search Bar */

.search-bar {
    display: table-cell;
    width: 60%;
    background-color: white;
    text-align: center;
}

.SubmitButton {
    background-color: #51d0de;
}

.Form {
    background-color: #bf4aa8;
}