.NavBar {
    display: table;
    width: 100%;
}

.company-Logo {
    display: table-cell;
    width: 20%;
    background-color: #bf4aa8;
}

.search-bar {
    display: table-cell;
    width: 60%;
    background-color: white;
    text-align: center;
}

.account-info {
    display: table-cell;
    width: 20%;
    background-color: #bf4aa8;
}

.SubmitButton {
    background-color: #51d0de;
}